# Übungen

## Übung 2.1

Welcher Datentyp liegt vor? Kopieren Sie diesen Text in eine Markdown-Zelle und
schreiben Sie Ihre Antwort hinter den Pfeil.

* 3 -->
* -3 -->
* 'drei'-->
* 3.3 -->
* 3,3 -->
* 3**3 -->
* 3**(1/3) -->

Verwenden Sie anschließend `type()` in einer Code-Zelle, um Ihre Antwort zu
überprüfen.

In [ ]:
# Dies ist eine Code-Zelle.

## Übung 2.2

Schreiben Sie ein Programm, das die Zahlen von 5 bis 15 mit ihrem Quadrat
ausgibt, also "Das Quadrat von 5 ist 25." usw.

In [ ]:
# Dies ist eine Code-Zelle.

## Übung 2.3

Schreiben Sie eine For-Schleife, die die Brüche 1/7, 2/7, 3/7, bis 7/7 als
Fließkommazahl gerundet auf 2 Nachkommastellen ausgibt. Beispielausgabe:

```{code}
1/7 = 0.14.
2/7 = 0.29.
3/7 = 0.43.
4/7 = 0.57.
5/7 = 0.71.
6/7 = 0.86.
7/7 = 1.00.
```

In [ ]:
# Dies ist eine Code-Zelle.

## Übung 2.4

Schreiben Sie ein Programm, das eine Liste von Namen durchläuft und jede Person
begrüßt. Wenn beispielsweise die Namen Alice, Bob und Charlie in der Liste
stehen, lauten die Begrüßungen:

```{code}
Hallo, Alice!
Hallo, Bob!
Hallo, Charlie!
```

In [ ]:
# Dies ist eine Code-Zelle.

## Übung 2.5

Erstellen Sie ein Dictionary für einen Studierenden mit folgenden Informationen:

* vorname: "Max"
* nachname: "Mustermann"
* matrikelnummer: 123456
* studiengang: "Maschinenbau"

Geben Sie dann folgende Information aus: "Max Mustermann (123456) studiert Maschinenbau."

In [ ]:
# Dies ist eine Code-Zelle.

## Übung 2.6

Gegeben ist die Liste: `zahlen = [5, 12, 3, 8, 1]`

1. Fügen Sie die Zahl 7 am Ende der Liste hinzu.
2. Erstellen Sie einen String `text = "Python Programmierung"` und wandeln Sie ihn in Großbuchstaben um.
3. Geben Sie beide Ergebnisse aus.

In [ ]:
# Dies ist eine Code-Zelle.